<% include ../partials/header %>

<div class="container">
    <h1 class="text-center">Edit <%= event.name %></h1>
    <div class="form-style">
        <form action="/events/<%= event._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <input class="form-control" name="event[name]" type="text" value="<%= event.name %>">
            </div>
            <div class="form-group">
                <input class="form-control" name="event[image]" type="text" value="<%= event.image %>">
            </div>
            <div class="form-group">
                <textarea class="form-control" name="event[description]"><%= event.description %></textarea>
            </div>
            <div class="form-group">
                <input class="form-control" name="event[venu]" type="text" value="<%= event.venu %>">
            </div>
            <div class="form-group">
                <input class="form-control" name="event[date]" type="text" value="<%= event.date %>">
            </div>
            <div class="form-group">
                <input class="form-control" name="event[time]" type="text" value="<%= event.time %>">
            </div>
            <div class="form-group">
                <input class="form-control" name="event[cost]" min="0.0" step="1" type="number" value="<%= event.cost %>">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block">Submit</button>
            </div>
        </form>
        <a href="/events">Back</a>
    </div>
</div>

<% include ../partials/footer %>